@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --primary: #005aeb;
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-plus-jakarta-sans);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Plus Jarkata Sans", sans-serif;
  overflow-x: hidden;
}

.fixed {
  max-width: inherit;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
